body{
      font-family: 'Josefin Sans', sans-serif;
      background-color: black;
      
}

h1{
  color: aqua;
  font-size: 7rem;
  text-shadow: 6rem;
  margin: 35px;
}

.container{
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 1.75rem;
}

.dice{
  font-family: 'Kaushan Script', cursive;
  color: aqua;
  display: inline-block;
  font-style: italic;
}

.footer{
  color: white;
  text-align: center;
  margin-top: 12%;
}

.link a{
  color: white;
}

.link a:hover{
  color: grey;
  text-decoration: underline;
}

.dice img{
  width: 80%;
  height: 90%;
  margin-top: 15%;
}

